.viewport {
  background-color: pink;
  cursor: grab;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.viewportDragging {
  composes: viewport;
  cursor: grabbing;
}

.surface {
  background-color: purple;
  position: absolute;
}

.list {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
