.viewport {
  cursor: grab;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.viewportDragging {
  composes: viewport;
  cursor: grabbing;
}

.surface {
  overflow: hidden;
  position: absolute;
}

.list {
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}
